<nav class="b-nav">
    <ul class="b-nav__list">
        <li class="b-nav__list-item">
            <a href="#" class="b-nav__link">Главная</a>
        </li>
        <li class="b-nav__list-item">
            <a href="#" class="b-nav__link">О нас</a>
        </li>
        <li class="b-nav__list-item">
            <a href="#" class="b-nav__link">Каталог</a>
        </li>
        <li class="b-nav__list-item">
            <a href="#" class="b-nav__link">Доставка</a>
        </li>
        <li class="b-nav__list-item">
            <a href="#" class="b-nav__link">Обучение</a>
        </li>
        <li class="b-nav__list-item">
            <a href="#" class="b-nav__link">Контакты</a>
        </li>
    </ul>
</nav>