{% extends "./layout/layout.twig" %}
{% block title %} 
    <title>
        Керамическая флористика, подарки, украшения, цветы. Обучение, мастер классы в Нижнем Новгороде
    </title> 
{% endblock %}

{% block content %}
    <div class="l-home">
        <h1>Hello</h1>
    </div>
{% endblock %}