<div class="b-first-screen">
    <div class="b-fisrt-screen__image">
        <img src="/www/images/home/main.jpg" alt="Украшения ручной работы" class="src">
    </div>
    <div class="b-first-screen__content">
        {# <div class="b-first-screen__border">
            <img src="/www/images/home/border.jpg">
        </div> #}
        <div class="b-first-screen__logo">
            <img src="/www/images/logo.png" alt="Цветочный блюз, керамическая флористика">
        </div>
        <h1 class="b-first-screen__title">Украшения ручной работы</h1>
    </div>
</div>