@font-face {
    font-family: 'M.Video';
    src: url('/www/fonts/M.Video-Regular.woff') format('woff'), url('/www/fonts/M.Video-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'M.Video';
    src: url('/www/fonts/M.Video-Bold.woff') format('woff'), url('/www/fonts/M.Video-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'M.Video';
    src: url('/www/fonts/M.Video-Light.woff') format('woff'), url('/www/fonts/M.Video-Light.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Karmina';
    src: url('/www/fonts/Karmina.woff') format('woff'), url('/www/fonts/Karmina.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
}
